.text-1 {
  font-size: 5; }

.text-2 {
  font-size: 10; }

.text-3 {
  font-size: 15; }

.text-4 {
  font-size: 20; }

.text-5 {
  font-size: 25; }

.text-6 {
  font-size: 30; }

.text-7 {
  font-size: 35; }

.text-8 {
  font-size: 40; }

.text-9 {
  font-size: 45; }

.text-10 {
  font-size: 50; }
